.card {
  .card_title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 31px;
  }
  .card_all {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .card_item {
      width: 223px;
      height: 171px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid #dadada;
      background: #fff;
      box-shadow: 0px 4px 20px 0px rgba(169, 169, 169, 0.25);
      padding: 16px;
      h3 {
        font-size: 16px;
        font-weight: 800;
        padding: 14px 0 9px 0;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        width: 166px;
        flex-shrink: 0;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .card {
    padding-left: 10px;
    padding-right: 10px;
    .card_all {
      // overflow-x: auto;
      // overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      .card_item {
        scroll-snap-align: start;
      }
    }
  }
}
